/*
Color code : 
red : #902222
dark red : #6a2138
purple : #44204f
blue : #153C70
light blue : #5271FF
white : #fff
*/

.banner span{
    font-size: x-large;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

span{
    color: #902222 !important;
    display: inline;
    float: none;
}

select{
    cursor: none;
    margin: 50px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(image/logo_alt.png) 96% / 15% no-repeat #EEE;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

select::-ms-expand{
    display: none;
}

@media only screen and (max-width:610px){
    .banner span{
        top: 35%;
    }
}

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}