/*
Color code : 
red : #902222
dark red : #6a2138
purple : #44204f
blue : #153C70
light blue : #5271FF
white : #fff
*/

.l-embed .banner label{
    cursor: none;
    font-size: x-large;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.l-embed .banner #countrySelector{
    cursor: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.l-embed .banner #countrySelector+span{
    cursor: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

label{
    cursor: none;
    color: #902222 !important;
}

.select2{
    cursor: none;
}

@media only screen and (max-width:610px){
    .banner span{
        top: 35%;
    }
}

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}